@charset "utf-8";
/* CSS Document */

body {
	font-family: Helvetica, "sans-serif";
}
header h1 {
	color: khaki;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	background-image: url(images/headerpattern.jpeg)
}
#brushes h2 {
	background-color: mediumspringgreen
}
#frames h2 {
	background-color: lightcoral
}
#paint h2 {
	background-color: skyblue
}
h2 {
	font-size: 32px;
	font-weight: bold;
	color: white;
}
.price {
	color: blue;
	font-weight: bold;
}
